{% if page.lang == 'es' %}
    {% assign t = site.data.translations_es %}
{% else %}
    {% assign t = site.data.translations_de %}
{% endif %}

<footer>
    <div class="container">
        <p>{{ t.footer.rights }}</p>
    </div>
    <div class="sponsors">
        <h4>{{ t.footer.sponsor }}</h4>
        <div class="sponsors-list">
        <a href="https://www.mgh-heidelberg.de/" target="_blank" rel="noopener noreferrer" class="sponsor" aria-label="Ir a Mehrgenerationenhaus Heidelberg">
            <img src="{{ '/assets/images/mgh-hd.png' | relative_url }}" alt="Mehrgenerationenhaus Heidelberg logo" class="sponsor-logo" loading="lazy">
        </a>
        </div>
    </div>
</footer>